API_KEY=abc123
DATABASE_URL=postgresql+psycopg://dbuser:db-password@db_service:5432/camba

#OPENAI_BASE_URL="http://model-runner.docker.internal/engines/v1"
OPENAI_MODEL_NAME="gpt-4o" # ai/gemma4
OPENAI_API_KEY="Your API Key"

EMAIL_ADDRESS="elmatador168168@gmail.com"
EMAIL_PASSWORD="Your app password" # Never hard code you own password, you use app passwords
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=465 # smtp